{% load static %}
<style>



</style>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="https://www.westside.com/cdn/shop/files/C2_01_1920X900_VIEW_ALL.jpg?v=1731658130" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.westside.com/cdn/shop/files/C1_06_1920X900_SHOP_CASUAL_BOTTOMS.jpg?v=1735653729" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.westside.com/cdn/shop/files/C2_02_1920X900_WINTERWEAR_50959fb0-1e41-4030-b617-3b7dbb5a2393.jpg?v=1731665706" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>