    {% load static %}

    <style>
      .sm-car {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          max-width: 100%;
          margin: 0 auto;
          padding: 20px;
      }
  
      .col-md-6, .col-md-5 {
          flex: 1;
          padding: 20px;
          text-align: center;
      }
  
      .carousel-inner .car-car {
          width: 100%;
          max-width: 100%;
          height: auto;
          border-radius: 10px;
      }
  
      .inside a {
          text-decoration: none;
          color: black;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-weight: bold;
      }
  
      .inside hr {
          margin: 10px 0;
      }
  
      /* Responsive Design */
      @media (max-width: 992px) {
          .sm-car {
              flex-direction: column;
              text-align: center;
          }
  
          .col-md-6, .col-md-5 {
              width: 100%;
              padding: 10px;
          }
  
          .carousel-inner .car-car {
              height: auto;
          }
      }
  
      @media (max-width: 576px) {
          .inside a {
              font-size: 1rem;
              padding: 8px;
          }
  
          .carousel-control-prev, .carousel-control-next {
              width: 10%;
          }

          .carousel-inner .car-car {
            height: auto;
        }
      }

      .carousel-inner .car-car {
        width: 100%;
        height: 500px;
    }
  
    @media (max-width: 992px) {
        .carousel-inner .car-car {
            height: auto;
        }
    }
  
    @media (max-width: 768px) {
        .carousel-inner .car-car {
            height: auto;
        }
    }
  
    @media (max-width: 576px) {
        .carousel-inner .car-car {
            height: auto;
        }
    }
  </style>
  

    <div class="row sm-car">
        <div class="col-md-6">
            <h5 id="featureitem" style="font-weight: 900;" >FEATURED ITEMS</h5>
            <br>
            <h2 id="classy">Bold, classy, on-trend and a must-have for your wardrobe!</h2>
            <br><br><br>
            <div class="inside">
                <hr>
                <a href="{% url 'shirt' %}" class="oneside"><h5 id="shy">Shirts</h5> <i class="bi bi-arrow-up-right"></i></a>
                <hr>
                <a href="#" class="oneside"><h5 id="oneside">Trousers</h5> <i class="bi bi-arrow-up-right"></i></a>
                <hr>
                <a href="{% url 'Tshirt' %}" class="oneside"><h5 id="shy">T-Shirts</h5> <i class="bi bi-arrow-up-right"></i></a>
                <hr>
            </div>
        </div>

        <div class="col-md-5 carousel-margin">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img src="https://www.westside.com/cdn/shop/files/300996823OFFWHITE_3.jpg?v=1731565858&width=493" class="car-car" alt="Product Image">
                    </div>
                    <div class="carousel-item ">
                        <img src="https://www.westside.com/cdn/shop/files/300988322SAGE_1.jpg?v=1731565739&width=493" class="car-car"  alt="Product Image">
                    </div>
                    <div class="carousel-item ">
                        <img src="https://www.westside.com/cdn/shop/files/300988322BEIGE_1.jpg?v=1731601442&width=493" class="car-car"  alt="Product Image">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
